.sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
  }
  tr:nth-child(odd){
    background-color: white;
  }

tr:nth-child(even){
  background-color: rgb(132, 134, 134);
}

*::-webkit-scrollbar{
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  display: none;
  overflow: auto;
}