<div class="container mt-4">

  <div>

    <div class="nav-item dropdown">
      <div class="dropdown-toggle" data-bs-toggle="dropdown" style="font-size: 1.5rem;" role="button" >Select the Election</div>
      <div class="dropdown-menu">
        <option class="dropdown-item" value="Maharashtra Assembly Election" role="button">Maharashtra Assembly Election</option>
        <option class="dropdown-item" value="Indian General Election" role="button">Indian General Election</option>
        <option class="dropdown-item" value="DIT Electon" role="button">DIT Electon</option>
      </div>
    </div>
  </div>

<div style="display: flex; justify-content: space-between; width: 90%vw; height: 90%vh; margin-top: 5rem;">
    <!-- Total Voting Percentage -->
    <div style="height: 30%; width: 30%;">
      <h3>Total Voting Percentage</h3>
    </div>
  
    <!-- Percentage of male and female voters -->
    <div style="display: absolute; height: 30%; width: 30%;">
      <h3>Male and Female Percentage</h3>
    </div>
</div>


</div>