
<div class="container" style="overflow-y: scroll; height: 90vh;">
  <!-- Add Election Button -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary bg-primary text-white">Add Candidates <i class="fa-solid fa-square-plus"></i></button>
  </div>
<div class="">

    <!-- Upcoming Elections Table -->
    <div class="card">
      <div class="card-header bg-info text-white">
        <h4 class="mb-0">Candidates List </h4>
      </div>
      <div class="">
        <div class="table-responsive">
          <table class="table table-bordered text-dark mb-0">
            <thead>
              <tr>
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>Party</th>
                <th>Constituency</th>
                <th>Election Id</th>
                <th>Gender</th>
                <th>Votes Received</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td>C001</td>
                <td>Nikhil Patil</td>
                <td>BJP</td>
                <td>Pune</td>
                <td>E001</td>
                <td><span>Male</span></td>
                <td>null</td>
                <td style="display: flex; gap: 2rem; justify-content: center;">
                  <button class="btn btn-sm btn-warning" >Edit <i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn bg-danger text-white btn-sm btn-danger"> Delete <i class="fa-solid fa-trash"></i></button>
                  <button class="btn btn-sm bg-info text-white btn-info ">View <i class="fa-solid fa-eye"></i></button>
                </td>
              </tr>

              <tr style="background-color: white;">
                <td>C002</td>
                <td>Divya Reddy</td>
                <td>Congress</td>
                <td>Hydrabad</td>
                <td>E004</td>
                <td><span>Female</span></td>
                <td>null</td>
                <td style="display: flex; gap: 2rem; justify-content: center;">
                  <button class="btn btn-sm btn-warning">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-sm bg-danger text-white btn-danger">Delete <i class="fa-solid fa-trash"></i></button>
                  <button class="btn btn-sm bg-info text-white btn-info">View <i class="fa-solid fa-eye"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>