<div class="bg-dark text-white sidebar " style="width: 250px; padding: 1rem; min-height: 100vh;">
  <h5 class="text-white mb-3">Admin</h5>
  <ul class="nav flex-column" id="sidebarMenu">
    <!-- Admin Items -->
    <li class="nav-item role-admin">
      <a class="nav-link text-white" onclick="loadDashboard('ManageCandidates.html')" href="#">
        <i class="fa fa-layer-group me-2"></i> Manage Candidates
      </a>
    </li>
    <li class="nav-item role-admin">
      <a class="nav-link text-white" onclick="loadDashboard('ManageElections.html')" href="#">
        <i class="fa-solid fa-bars-progress"></i></i> Manage Election
      </a>
    </li>

    <!-- Common Items -->
    <li class="nav-item role-common">
      <a class="nav-link text-white" onclick="loadDashboard('Chart.html')" href="#">
        <i class="fa-solid fa-chart-pie"></i> Charts
      </a>
    </li>
    <li class="nav-item role-common">
      <a class="nav-link text-white" onclick="loadDashboard('UpdateProfile.html')" href="#">
        <i class="fa fa-cog me-2"></i> Settings
      </a>
    </li>
    <li class="nav-item role-common">
      <a class="nav-link text-white" onclick="loadDashboard('LOgOut.html')" href="#">
        <i class="fa-solid fa-right-from-bracket"></i> Log Out
      </a>
    </li>
  </ul>
</div>

