<div class="bg-dark text-white sidebar p-3" style="width: 250px; min-height: 100vh;">
    <h5 class="text-white mb-3">Admin</h5>
    <ul class="nav flex-column" id="sidebarMenu">

            <!-- User Items -->
    <li class="nav-item role-user">
        <a class="nav-link text-white" onclick="loadDashboard('VoteCast.html')" href="#">
          <i class="fa-solid fa-check-to-slot"></i> Cast the Vote
        </a>
      </li>
      <li class="nav-item role-user">
        <a class="nav-link text-white" onclick="loadDashboard('VotingHistory.html')" href="#">
          <i class="fa-solid fa-clock-rotate-left"></i> Voting History
        </a>
      </li>
  
      <!-- Common Items -->
      <li class="nav-item role-common">
        <a class="nav-link text-white" onclick="loadDashboard('Chart.html')" href="#">
          <i class="fa-solid fa-chart-pie"></i> Charts
        </a>
      </li>
      <li class="nav-item role-common">
        <a class="nav-link text-white" onclick="loadDashboard('UpdateProfile.html')" href="#">
          <i class="fa fa-cog me-2"></i> Settings
        </a>
      </li>

      <li class="nav-item role-user">
        <a class="nav-link text-white" onclick="loadDashboard('Help.html')" href="#">
          <i class="fa-solid fa-circle-info"></i> Help
        </a>
      </li>

      <li class="nav-item role-common">
        <a class="nav-link text-white" onclick="loadDashboard('LOgOut.html')" href="#">
          <i class="fa-solid fa-right-from-bracket"></i> Log Out
        </a>
      </li>
    </ul>
  </div>
  
    </ul>
  </div>
  
  